.crystals {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.crystal {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  background-color: white;
}

body {
  background-image: url(../images/background.jpg);
}
#previous,
#lost,
#win {
  color: black;
  font-size: 45px;
}
#outcome {
  color: white;
  font-size: 45px;
}
